<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:beans="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

       <!-- Stateless HTTP spring com.myRemax.security configuration -->
       <security:http auto-config="true" create-session="stateless">
              <security:intercept-url pattern="/api/secur*" access="permitAll" />
              <security:intercept-url pattern="/api/search/*" access="hasRole('USER')" />
              <security:intercept-url pattern="/api/admin/*" access="hasRole('ADMIN')" />
              <security:csrf disabled="true" />
              <security:custom-filter before="FORM_LOGIN_FILTER" ref="jwtAuthenticationFilter" />
       </security:http>

       <!-- The authenticator filter. -->
       <bean id="jwtAuthenticationFilter"
                   class="com.myRemax.security.filter.JwtAuthenticationTokenFilter">
              <property name="authenticationManager" ref="authenticationManager" />
              <property name="tokenHeader"
                              value="${jwt.authorisation.header}" />
       </bean>

       <!-- the authentication manager. -->
       <security:authentication-manager alias="authenticationManager">
              <security:authentication-provider>
                     <!-- Dummy users/pass/roles -->
                     <security:user-service>
                            <security:user name="bill" password="bill" authorities="ROLE_USER" />
                            <security:user name="admin" password="admin" authorities="ROLE_ADMIN,ROLE_USER" />
                            <security:user name="sadmin" password="sadmin" authorities="ROLE_SADMIN,ROLE_ADMIN,ROLE_USER" />
                     </security:user-service>
              </security:authentication-provider>
       </security:authentication-manager>

</beans>